@import url('https://fonts.google.com/specimen/Red+Hat+Display');

:root {
    --prim-pale-blue: hsl(225, 100%, 94%);
    --prim-bright-blue: hsl(245, 75%, 52%);

    --neut-v-pale-blue: hsl(225, 100%, 98%);
    --neut-desat-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    --fs-text: 1em;
    --fs-h1: 1.5em;

    --fw-norm: 550;
    --fw-bold: 700;
    --fw-xbold: 900;

    --shadow-color: 225deg 95% 90%;
    --shadow-elevation-low:
      0px 0.6px 0.8px hsl(var(--shadow-color) / 0.22),
      0px 2.4px 3.1px -1.2px hsl(var(--shadow-color) / 0.44);
    --shadow-elevation-medium:
      0px 0.6px 0.8px hsl(var(--shadow-color) / 0.2),
      0px 3.7px 4.9px -0.6px hsl(var(--shadow-color) / 0.34),
      -0.1px 12px 15.8px -1.2px hsl(var(--shadow-color) / 0.47);
    --shadow-elevation-high:
      0px 0.6px 0.8px hsl(var(--shadow-color) / 0.23),
      0px 7.3px 9.6px -0.3px hsl(var(--shadow-color) / 0.32),
      -0.1px 15.1px 19.8px -0.6px hsl(var(--shadow-color) / 0.41),
      -0.2px 29.4px 38.6px -0.9px hsl(var(--shadow-color) / 0.5),
      -0.3px 55.2px 72.5px -1.2px hsl(var(--shadow-color) / 0.59);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}

.body {
    background: url('./images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Red Hat Display', Roboto, Montserrat, Poppins, serif;
    overflow-x: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    margin: 0 auto;
    padding: 0;
    border-radius: 1.325em;
    width: 88%;
    height: 78%;
    overflow: hidden;
    box-shadow: var(--shadow-elevation-high);
}

.content {
    background: #fff;
    padding: 1.25em;
    text-align: center;
    height: 100%;;
}

.hero-image {
    padding: 0;
    background: url('./images/illustration-hero.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30%;
}

.pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: var(--neut-v-pale-blue);
    border-radius: 1em;
    height: 5em;
    width: 100%;
}

.headings {
    color: var(--dark-blue);
}

.title {
    font-size: var(--fs-h1);
    font-weight: var(--fw-xbold);
}

.subtitle {
    font-size: var(--fs-text);
    font-weight: var(--fw-bold);
}

.text {
    font-size: var(--fs-text);
    font-weight: var(--fw-norm);
    color: var(--neut-desat-blue);
}

.links {
    font-size: var(--fs-text);
    font-weight: var(--fw-bold);
    border-radius: .75em;
    border-width: 0;
    width: 100%;
    height: 3.125em;
    margin: .625em 0;
    cursor: pointer;
}

.payment {
    color: var(--neut-v-pale-blue);
    background: var(--prim-bright-blue);
    box-shadow: var(--shadow-elevation-medium);
}

.payment:hover {
    background: hsl(245, 75%, 65%);
    transition: background 80ms ease-in-out;
}

.cancel {
    background: transparent;
    color: var(--neut-desat-blue);
    margin: 0;
}

.cancel:hover {
    color: var(--dark-blue);
    transition: color 80ms ease-in-out;
}

.change {
    font-weight: var(--fw-norm);
}

.change:hover {
    text-decoration: none;
    transition: text-decoration 80ms ease-in-out;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.plan > * {
    margin: 0.25em 0;
}



@media (min-width: 768px) and (orientation: landscape) {
    .body {
        background: url('./images/pattern-background-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        font-family: 'Red Hat Display', Roboto, Montserrat, Poppins, serif;
    }

    .main {
        width: 32%;
        height: 80%;
    }

    .content {
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .main {
        width: 60%;
        height: 60%;
    }

    .content {
        padding: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    .main {
        width: 60%;
        height: 50%;
    }

    .content {
        padding: 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }
}

@media (max-height: 640px) and (orientation: portrait) {
    .main {
        width: 88%;
        height: 85%;
    }

    .content {
        padding: 1.2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}